<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<nav class="navbar navbar-inverse">

  <div class="container-fluid">

    <ul class="nav navbar-nav">

      <li class="nav-item">
        <a class="nav-link" th:href="@{/inicio}">Inicio</a>
      </li>

      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" >Productos
          <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a th:href="@{/productos}">Listar</a></li>
          <li><a th:href="@{/crearProducto}">Crear</a></li>

        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" >Empleados
          <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a th:href="@{/empleados}">Listar</a></li>
          <li><a th:href="@{/crearEmpleado}">Crear</a></li>

        </ul>
      </li>
    </ul>
  </div>
</nav>
<h3 class="container text-center" >PIZZAS</h3><br>
<div class="container">

  <table class="table">
    <thead>
    <tr>
      <th>Id</th>
      <th>Nombre Pizza</th>
      <th>Precio</th>
      <th>Stock</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="producto:${listadoProductos}">
      <td th:text="${producto.idProducto}"></td>
      <td th:text="${producto.nombre}"></td>
      <td th:text="${producto.precio}"></td>
      <td th:text="${producto.stock}"></td>
      <td>
        <a class="btn btn-success" th:href="@{editarProducto/}+${producto.idProducto}">Editar</a>
        <a class="btn btn-danger" th:href="@{eliminarProducto/}+${producto.idProducto}">Eliminar</a>
      </td>
    </tr>

    </tbody>
  </table>
</div>
</body>
</html>